*.sqlite
*.db
*.sqlite3
env/
.vscode/
db.sqlite3

media/*
!media/taust.jpg
!media/taust1.jpg
!media/users
media/users/*
!media/users/default-user.png
!media/users/skeleton.png
!media/images
media/images/*
!media/images/wp-1.jpg
!media/images/placeholder.jpg

conf.json