.Article {
    border: 1px solid #e4e7eb;
    padding-bottom: 4em;
    border-radius: 3px;
    margin-bottom: .75em;

    .warning {
        margin: .4em 0;
        background: #ffcc00;
        padding: 1em .25em;
        text-align: center;
        border-radius: 3px;
    }

    .block__content {
        margin: 0 auto;
        max-width: 650px;
        width: 95%;
    }

    .BlockHeader {
        padding: 1em 0;
    }

    .Paragraph {
        line-height: 1.6em;
        padding: .4em 0;
    }

    .Image {
        width: 100%;
        padding: .75em 0;
        display: flex;
        align-items: center;
        flex-direction: column;

        .container {
            align-self: flex-start;
            margin-bottom: .5em;
            padding: .25em 0;

            img {
                width: auto;
                // margin-bottom: .5em;
                // border-radius: 5px;
            }
            
            &.border {
                border: 1px solid #e4e7eb;
                width: 100%;
                border-radius: 5px;
            }

            &.withBackground {
                background-color: #e4e7eb;
                width: 100%;
                display: flex;
                justify-content: center;
                border-radius: 5px;
            }

            &.stretched {
                width: 100%;
                border: 1px solid red;
                img {
                    display: inline-block;
                    width: 100%;
                }
            }
        }

        figcaption {
            font-size: .95rem;
            border: 1px solid #e4e7eb;
            border-radius: 3px;
            padding: 10px 12px;
            text-align: center;
            width: 100%;
        }
    }

    .Embed {
        border: none;
        width: 100%;
        margin: .4em 0;
        border-radius: 3px;
    }

    .List {
        padding: .4em 0;
        padding-left: 40px;
        
        &.unordered {
            list-style: disc;
        }

        &.ordered {
            list-style: decimal;
        }

        & > li {
            padding: 5.5px 0 5.5px 3px;
            line-height: 1.6em;
        }
    }

    .delimiter {
        width: 100%;
        line-height: 1.6em;
        text-align: center;

        &:before {
            display: inline-block;
            content: "***";
            font-size: 30px;
            line-height: 65px;
            height: 30px;
            letter-spacing: 0.2em;
        }
    }

    .Checklist {
        padding: .4em 0;

        .checklist-item {
            padding: 0 10px;
            display: flex;
            align-items: center;

            .button {
                display: inline-block;
                flex-shrink: 0;
                position: relative;
                width: 20px;
                height: 20px;
                margin: 10px 10px 10px 0;
                border-radius: 50%;
                border: 1px solid #d0d0d0;
                background: #fff;
                user-select: none;

                &.checked {
                    background: #388ae5;
                    border-color: #388ae5;
                }

                &.checked::after {
                    opacity: 1;
                }

                &::after {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    width: 8px;
                    height: 5px;
                    border: 2px solid #fcfff4;
                    border-top: none;
                    border-right: none;
                    background: transparent;
                    content: '';
                    opacity: 0;
                    transform: rotate(-45deg);
                }
            }

            .text {
                outline: none;
                flex-grow: 1;
                padding: 10px 0;
            }
        }
    }
}