.ArticleCategories {
    margin-bottom: .75em;
    label {
        display: inline-block;
        margin-bottom: .5em;
        font-size: 1.1rem;
        font-weight: 300;
        letter-spacing: .1em;
    }

    .items-container {
        display: flex;
        flex-wrap: wrap;

        .item {
            margin-right: .75em;
            margin-bottom: .75em;
            background-color: #e4e7ed;
            padding: .5em .75em;
            border-radius: 5px;
            color: #53535D;
            font-size: .95rem;
            font-weight: 700;
            cursor: pointer;

            &.selected {
                background-color: #2E6EA6;
                color: whitesmoke;
            }
        }
    }

    .warn {
        font-size: .7rem;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: gray;
    }
}