@import './mixins.scss';

.ArticleCard {
    border: 1px solid #e2e7ed;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 1.75em;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    @include mediaQuery(1200px) {
        width: 48%;
        margin: 0;
        margin-bottom: 1.75em;
        &:nth-child(2n+1) {
            margin-right: auto;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    a {
        color: #2384d9;
        text-decoration: none;
    }

    .header {
        position: relative;
        border-bottom: 1px solid #e4e7ed;
        img {
            width: 100%;
            max-height: 200px;
            object-fit: cover;
            object-position: center;
            opacity: .8;
            transition: opacity .2s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }

        .controls {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 2;

            button, a {
                display: inline-flex;
                border-radius: 50%;
                margin-left: .75em;
                font-size: 1.1rem;
                width: 40px;
                height: 40px;
                background-color: whitesmoke;
                border: 1px solid #e4e7ed;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: gray;
                transition: .2s ease-in-out;
            }

            .delete:hover {
                background-color: rgb(255, 30, 30);
                border-color: rgb(255, 30, 30);
                color: whitesmoke;
            }

            .edit:hover {
                background-color: #2384d9;
                border-color: #2384d9;
                color: whitesmoke;
            }
        }
    }

    .info {
        padding: .75em 1em;
        // background-color: cornsilk;

        .title {
            display: block;
            font-size: 1.75rem;
            letter-spacing: .1em;
            // margin-bottom: .5em;
            font-weight: 700;
            color: black;
        }

        .date {
            font-size: .8rem;
            color: rgb(51, 51, 51);
            letter-spacing: .1em;

            .bold {
                font-size: 1rem;
                font-weight: 900;
            }
        }

        .overview {
            margin: 1rem 0;
            font-size: 1rem;
            letter-spacing: .1em;
        }
    }

    .footer {
        padding: .5em .75em;
        border-top: 1px solid #e4e7ed;

        span, span>a {
            display: inline-block;
        }

        .comments {
            margin-right: .5em;
            margin-bottom: .5em;
            color: gray;
            font-size: .75rem;
            font-weight: 900;
        }

        .hashtags {
            a {
                font-size: .9rem;
                font-weight: 900;
                margin: .25em 0;
                text-transform: capitalize;
                margin-right: .75em;
                font-style: italic;
            }
        }
    }
}

.table .ArticleCard {
    @include mediaQuery(1200px) {
        &:nth-child(2n+1) {
            margin-right: 0;
        }

        &:nth-child(2n) {
            margin-right: auto;
        }
    }

    &.full {
        @include mediaQuery(1200px) {
            width: 100%;
            max-width: 100%;
            // margin: 0 auto;
            margin-bottom: 1.75em;
        }
    }
}

.ArticleCard.full .header img {
    max-height: 300px;
}