.ArticleHeader {
    border: 1px solid #e4e7eb;
    margin-bottom: .75em;
    padding: .5em .75em;
    background-color: #fff;
    border-radius: 3px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .5em;
        .control {
            a  {
                font-size: 1.1rem;
                display: inline-block;
                margin-right: 1.5em;
                position: relative;
    
                &.edit {
                    color: grey;
                }
    
                &.delete {
                    color: rgb(253, 30, 30);
                }
            }
        }

        .desc {
            font-size: .95rem;
            font-style: italic;
            text-align: right;
            text-transform: capitalize;
        }
    
        .author {
            font-weight: 700;
            font-style: normal;
            color: #2384D9;
            text-decoration: none;
        }
    }

    .bottom {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        a {
            font-size: .95rem;
            margin-left: .75em;
            font-weight: 700;
            color: #2E6EA6;
            text-transform: capitalize;
            margin-bottom: .25em;
        }
    }

    span {
        font-style: normal;
        font-size: 1.2rem;
        font-weight: 500;
    }
}