.comment-mesg {
    width: 100%;
    background-color: gray;
    margin-bottom: 1.25em;
    padding: 1.25em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

    .mesg {
        text-align: center;
        margin-bottom: .75em;
        color: whitesmoke;
        letter-spacing: .1em;
        font-size: 1.2rem;
    }

    .links {
        width: 95%;
        max-width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
        }
    }
}

.CommentForm {
    border-bottom: 1px solid #e4e7ed;
    margin-bottom: 1.25em;
    padding: .75em 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    textarea {
        resize: none;
        width: 100%;
        height: 80px;
        border: 3px solid #e2e7ed;
        border-radius: 8px;
        padding: .75em .5em;
        transition: .2s ease-in-out;
        font-size: 1.1rem;
        margin-bottom: .5em;

        &.focus {
            border-color: #b8c0cc;
            height: 150px;
        }
    }

    .length {
        font-size: 1rem;
        display: none;
        margin-bottom: .5em;
        margin-right: 3px;
    }

    .form-content.focus + .length {
        display: inline-block;
    }

    .error-text {
        align-self: flex-start;
        background-color: red;
        padding: .5em .75em;
        color: whitesmoke;
        border-radius: 3px;
        margin: .5em 0;
        font-size: .9rem;
        font-weight: 700;
        width: 100%;
        max-width: 600px;
    }
}