@import './mixins.scss';

.CommentsList {
    // border: 1px solid green;

    .CommentItem {
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin-bottom: 1em;
        padding: .75em .75em .5em .75em;
        border: 1px solid #e4e7ed;
        border-radius: 3px;
        position: relative;

        @include mediaQuery(600px) {
            margin-bottom: 2em;
            padding: .75em 1.5em;
        }

        .profil {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 20px;

            .avatar {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: .5em;
            }

            span {
                font-size: .75em;
                font-weight: 900;
                text-transform: capitalize;
            }
        }

        .info {
            flex-grow: 1;
            padding: .4em 0;
            margin-right: 5%;

            .name {
                font-size: 1rem;
                font-weight: 700;
                letter-spacing: .1em;
            }

            .posted_date {
                font-size: .7rem;
                letter-spacing: .1em;
                color: gray;
            }

            .content {
                border-radius: 3px;
                width: 100%;
                margin-top: .75em;
                padding: .4em .75em;
                background: #e4e7ed;
                min-height: 60px;
            }
        }

        &.author {
            border-width: 3px;
            border-radius: 8px;

            .title {
                color: #2384D9;
                font-size: .75em;
                font-weight: 900;
            }
        }

        .controls {
            position: absolute;
            top: 8px;
            right: 5px;
            width: 12%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mediaQuery(700px) {
                width: 10%;
            }

            @include mediaQuery(800px) {
                width: 8%;
            }

            button {
                cursor: pointer;
                background-color: transparent;
                border: 0;
                font-size: 1.1rem;

                &.edit {
                    color: gray;
                }

                &.delete {
                    color: rgb(255, 32, 32);
                }
            }
        }
    }
}