.ConfirmModel {
    position: relative;
    padding: 1.75em 1em;
    background: whitesmoke;
    border-radius: 3px;
    width: 95%;
    max-width: 400px;

    .text {
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: .15em;
        font-weight: 700;
        line-height: 45px;
    }

    .closer {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.2rem;
        background-color: whitesmoke;
        border: 0;
        color: gray;
        cursor: pointer;
    }

    .confirm-btn {
        display: block;
        margin: 0 auto;
        margin-top: 1.5em;
        padding: .3em .7em;
        font-size: 1em;
        font-weight: 700;
        color: white;
        background-color: #6c757d;
        border: 1px solid #6c757d;
        cursor: pointer;
        letter-spacing: .1em;
        border-radius: 3px;
    }
}