@import './mixins.scss';

.ProfilHeader {
    width: 100%;
    height: 300px;
    background-image: url('http://localhost:8000/media/taust.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;

    @include mediaQuery(600px) {
        height: 350px;
    }

    .avatar, .EditAvatar {
        width: 30%;
        height: calc(100vw * .3);
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        margin-bottom: .5em;
    }

    .avatar {
        object-fit: cover;
        object-position: center;
        border: 3px solid whitesmoke;
    }

    .EditAvatar {
        overflow: hidden;
        position: relative;
        border: 3px solid whitesmoke;

        .avatar {
            width: 100%;
            height: 100%;
            border: 0;
        }

        .edit-btn {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 1.75rem;
            color: whitesmoke;
            background-color: gray;
            border: 0;
            cursor: pointer;
            opacity: .4;
            transition: opacity .4s;

            &:hover {
                opacity: .7;
            }
        }
    }

    .name {
        letter-spacing: .1em;
        font-weight: 700;
        font-size: 1.6rem;
        margin-bottom: .3em;
    }

    .info {
        letter-spacing: 1px;
        font-size: 1rem;
    }
}