.SearchPage {
    .section-header {
        color: #363636;
        letter-spacing: .1em;
        font-size: 1.3rem;
        margin-bottom: .75em;
    }

    .CategoriesSearch, .StaffSearch, .ArticlesSearch {
        padding-bottom: .5em;
        margin-bottom: 1.25em;
        border-bottom: 1px solid #d3d5da;
    }

    .StaffSearch, .ArticlesSearch {
        .more-btn {
            padding: .5em 1.5em;
            margin: 0 auto;
            display: block;
        }
    }
}