.StaffList {
    border: 1px solid #d3d5da;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 3px;
    // overflow: hidden;
    
    td, th {
        padding: 1.5em .75em;
        padding-left: 1.25em;
        border-bottom: 1px solid #d3d5da;
        text-align: left;
        font-size: .95rem;
        letter-spacing: .04em;
    }

    td {
        color: rgb(100, 100, 100);
    }

    th {
        color: #121212;
    }

    &, td, th {
        border-collapse: collapse;
    }

    .StaffTableItem {
        .upper {
            text-transform: capitalize;
        }

        .options-btn {
            font-size: 1.2rem;
            border: 0;
            background-color: transparent;
            color: gray;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            
            .menu {
                position: absolute;
                display: none;
                top: 70%;
                right: 50%;
                border: 1px solid #e4e7ed;
                border-radius: 5px;
                background-color: white;
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
                overflow: hidden;

                &.opened {
                    display: block;
                }

                .item {
                    display: flex;
                    padding: .5em 1em;
                    align-items: center;
                    text-decoration: none;
                    color: #121212;
                    border: 0;
                    background-color: transparent;
                    cursor: pointer;

                    i {
                        margin-right: .3em;
                    }

                    p {
                        margin-left: .3em;
                    }

                    &:hover {
                        background-color: #d3d5da;
                    }
                }
            }
        }
    }
}