.StaffFormModel {
    padding: .5em 1.5em;
    padding-bottom: 1em;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e4e7ed;
    z-index: 1;
    width: 95%;
    max-width: 450px;

    .form-group label {
        font-style: italic;
    }
}